.username-input input:focus + .login-lable .login-span, .username-input input:valid + .login-lable .login-span{
    translate: 0% -100%;
    font-size: .65rem;
    opacity: .2;
}
.username-input input:focus + .login-lable:after, .username-input input:valid + .login-lable:after{
    translate: 100%;
}

.password-input input:focus + .login-lable .login-span, .password-input input:valid + .login-lable .login-span{
    translate: 0% -100%;
    font-size: .65rem;
    opacity: .2;
}
.password-input input:focus + .login-lable:after, .password-input input:valid + .login-lable:after{
    translate: 100%;
}

.email-input input:focus + .login-lable .login-span, .email-input input:valid + .login-lable .login-span{
    translate: 0% -100%;
    font-size: .65rem;
    opacity: .2;
}
.email-input input:focus + .login-lable:after, .email-input input:valid + .login-lable:after{
    translate: 100%;
}

@keyframes pagefade {
    0% {opacity: 0%;}
    100% {opacity: 100%;}    
}