footer{
    background-color: $login-input-background;
    color: $textcolor;
    text-align: center;
    // padding: $box-padding;
    font-size: var(--fs-cal);
    position: relative;
    width: 100%;
    margin-top: 1rem;
    grid-area: 'footer';
    a{
        text-decoration: none;
        color: $textcolor;
    }
}