footer{
    background-color: $login-input-background;
    color: $textcolor;
    text-align: center;
    padding: $box-padding;
    font-size: var(--fs-cal);
    position: relative;
    bottom: 0;
    
    width: 100%;
    a{
        text-decoration: none;
        color: $textcolor;
    }
}