.period-countdown{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: $box-padding;
    h2{
        color: $textcolor;
        font-size: var(--fs-header);
        padding-bottom: $box-padding;
    }
}
.countdown-timer{
    display: flex;
    justify-content: center;
    div:first-child{
        max-width: 500px !important;
        max-height: 500px !important;
        height: 100% !important;
        width: 100% !important;
    }
    svg{
        max-width: 100%;
        height: auto;
        max-height: 500px;
        path:first-child{
            stroke: $textcolor !important;
        }
        path:nth-child(2){
            stroke: $color6;
        }
    }
    span{
        display: flex;
        justify-self: center;
    }
}
.countdown-wrapper{
    font-size: 3rem
}
.days-left{
    span{
        font-size: var(--fs-header);
    }
}
.placeholder{
    width: 100%;
    height: 50px;
    background-color: pink;
}
.check-period{
    display: flex;
    flex-direction: column;
    label{
        color: $textcolor;
        text-align: center;
        font-family: $Header-Font;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }
    button{
        box-shadow: $drop-shadow-wrappers;
        width: 25%;
        margin: auto;
        border-radius: $radius;
        height: auto;
        background-color: $button-color;
        color: $textcolor;
        font-family: $Header-Font;
        font-size: 1.1rem;
        padding: 5px 8px;
    }
}