.horizontal-date-picker{
    height: auto;
    overflow: hidden;
    width: 100%;
    max-width: 1400px;
}
.dr{
    width: 100% !important;
}

.Kq, .Ez, .jb{
    display: none !important;
}
.Er{
    flex-grow: 1;
    &:first-of-type{
        background-color: red !important;
        flex-shrink: 1;
    }
}
.LX, ._1g{
    all: unset !important;
    color: #fff !important;
}
 .Tx{
    all: unset !important;
    display: flex !important;
    flex-direction: row !important;
 }
 .Tx:first-of-type{
    background-color: red !important;
 }
 ._3n{
    all:unset !important;
    display: flex;
    flex-direction: column;
    width: 50px !important;
    background-color: blue !important;
 }
// .dM{
//     flex-grow: 1 !important;
//     width: 100% !important;
//     background-color: red !important;
// }

// .dr{
//     flex-grow: 1 !important;
//     background-color: pink;
// }
// .Tx{
//     gap: 0%;
// }
// ._3n{
//     width: auto;
// }
// .Lx, ._1g{
//     color: white !important;
//     font-size: 3rem !important;
//     height: 100%;
// }

// .Lx{
//     font-size: 3rem !important;
// }