.login-button-container{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.login-button-container .signup{
    font-size: var(--fs-signup);
    button{
        font-size: inherit;
    }
}

.index-background-img{
    position: relative;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    min-height: 30%;
    width: 20%;
    height: auto;
    opacity: .4;
    left: 0%;
}