.login-button-container{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.login-button-container .signup{
    font-size: var(--fs-signup);
    button{
        font-size: inherit;
    }
}

.index-background-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-text{
    color: $textcolor !important;
    text-shadow: ($color6 0px 0px 3px);
    font-size: var(--fs-welcome) !important;
}