.flex-row-to-col {
  display: flex;
  flex-direction: row;
  @include for-size(tablet-only) {
    flex-direction: column;
  }
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
