.username-input, .password-input, .email-input{
    width: 95%;
    position: relative;
    height: 2.5rem;
    overflow: hidden;
    margin-bottom: 2.2rem;
    input{
        background-color: $login-input-background;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.2rem;
        color: $textcolor;
        border-radius: $radius;
        padding: 5px;
    }
    label{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        pointer-events: none;
        border-bottom: 1px solid $textcolor;
        color: $textcolor;
        transform: all 0.3s ease;
        &:after{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            border-bottom: 3px solid $color6;
            left: 0px;
            bottom: -1;
            transform: translateX(-100%);
            transform: all .3s ease;
        }
        span{
            position: absolute;
            bottom: 0px;
            left: 4px;
        }
    }
    .error{
        position: absolute;
        top: 0px;
        left: 100px;
        color: palegreen;
    }
}

.remember-me{
    width: 100%;
    text-align: center;
    label{
        padding-left: 2%;
        color: $textcolor;
        font-size: 1.2rem;
    }
}
.sign-up{
    margin-top: 1rem;
    span{
        color: $textcolor;
        padding-right: 5px;
    }
    a{
        color: $color1;
        text-decoration: none;
    }
}
.recover{
    text-decoration: none;
    color:$color1;
    font-size: .80rem;
    margin-bottom: 1rem;
}

.bottom-wave{
    position: relative;
    width: 100%;
    overflow: hidden;
    bottom: 0;
}

.reg-error{
    color: $textcolor;
    font-size: 1.4rem;
}

.exit-button{
    color: $textcolor;
    font-size: 2.5rem;
    grid-area:1/7/1/7;
    &:hover{
        color: $color5;
    }
}