nav{
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-between;
    background-color: $login-input-background;
    height: 75px;
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 1;
    margin-bottom: 15px;
    @include for-size(tablet-only){
        opacity: 1;
    }
}
.logout{
    text-align: center;
    button{
        border: none;
        background-color: transparent;
        text-align: center;
    }
    svg{
        font-size: 2rem;
        color: $textcolor;
    }
}
.stats{
    display: none;
    @include for-size(tablet-only){
        background-color: $color2;
        padding: $box-padding;
        display: block;
        color: $textcolor;
        border-radius: $radius;
        max-width: 100%;
        h3{
            font-size: 2rem;
            @include for-size(small-phone){
                font-size: 1.53em;
            }
        }
        span{
            font-size: 1.3rem;
        }
    }
}
.nav-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    margin: 0;
    padding: 5px;
    width: auto;
    justify-content: space-evenly;
    @include for-size(tablet-only){
        display: flex;
        flex-direction: column;
        align-items: center;
        translate: -100%;
        position: fixed;
        top:26px;
        left: 0px;
        z-index: 100;
        height: 100%;
        width: 100%;
        margin-top: 50px;
        opacity: 1;
        transition: cubic-bezier(0.23, 1, 0.32, 1) .35s;
        background-color: $color4;
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
    }
}

.nav-item{
    text-decoration: none;
    font-size: 1.4rem;
    a{
        text-decoration: none;
        color: $textcolor;
    }
}
.mobile-nav-container{
    display: none;
    height: 100%;
    width: 30px;
    padding-right: 20px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include for-size(tablet-only){
        display: flex;
    }
}
#mobile-nav-toggle{
    display: none;
}
#mobile-nav-toggle:checked ~ .nav-links{
    translate: 0% !important;
    transition: cubic-bezier(0.23, 1, 0.32, 1) .35s;
}
.mobile-nav,
.mobile-nav::before,
.mobile-nav::after {
  display: block;
  background-color: $color5;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  @include for-size(tablet-only){
    display: flex;
  }
}

.mobile-nav::before {
    content: '';
    margin-top: -8px;
  }
  
.mobile-nav::after {
    content: '';
    margin-top: 8px;
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav{
    background: transparent;
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav::before{
    margin-top: 0px;
    transform: rotate(405deg);
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav::after{
    margin-top: 0px;
    transform: rotate(-405deg);
}

.logo img{
    box-shadow: $drop-shadow-wrappers;
}