.logging-period{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 1400px;
    width: 100%;
    height: auto;
    padding: $box-padding;
}