.account-settings{
    display: flex;
    flex-direction: column;
    align-self: center;
    color: $textcolor;
    font-size: var(--fs-body);
    background-color: $color2;
    border-radius: $radius;
    width: 100%;
    padding: $box-padding;
    span{
        text-align: center;
    }
    ul{
        li{
            text-align: left;
            list-style: none;
        }
    }
}