.account-settings{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    color: $textcolor;
    font-size: var(--fs-body);
    background-color: $color2;
    border-radius: $radius;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: $box-padding;
    @include for-size(large-phone-only){
        width: 100%;
    }
    button{
        box-shadow: $drop-shadow-wrappers;
        width: 50%;
        height: 2.2rem;
        margin: 2rem auto;
        font-size: var(--fs-body);
        background-color: $button-color;
        border-radius: $radius;
        border: none;
        color: $textcolor
    }
}
.inner-account-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.setting-option{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    button{
        width: 50%;
    }
}
.password-change{
    padding: $box-padding;
    border-radius: $radius;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .password-input{
        margin: $box-padding auto;
    }
    button{
        width: 125px
    }
}
.delete-account{
    .email-input{
        margin-bottom: $box-padding !important;
        width: 40%;
    }
    button{
        margin-bottom:$box-padding;
        width: 25%;
        min-width: 125px;
    }
}
.calander{
    height: 100%;
    display: flex;
    width: 100%;
    max-width: 1400px;
    flex-direction: column;
    align-self: center;
}
.profile-cal{
    max-height: 1000px;
    min-height: 500px;
    height: 100%;
    position: relative;
    padding: $box-padding;
    max-width: 1400px;
    width: 100%;
    display: flex;
   align-self: center;
   z-index: 0;
}

.notification{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    h1{
        font-size: var(--fs-body);
    }

}
.button-container{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    &:nth-of-type(1){
        flex-direction: column;
    }
    .button{
        @include for-size(large-phone-only){
            width: 95%;
        }
    }
    form{
        margin-bottom: $box-padding;
    }
}
.toggle-on{
    width: 95%;
    position: relative;
    height: 2.5rem;
    display: flex;
    margin: auto;
    justify-content: center;
}

.text-button{
    background-color: transparent;
    border: none;
}