/* page setup */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html ,body{
    min-height: 100vh;
    width: 100vw;
    overscroll-behavior: auto;
    display: flex;
    flex-grow: 1;
    background-color: red;
}
body{
    overflow: auto;
}