
.wrapper{
    display: flex;
    flex-direction: column;
    background: $backgroundgrad;
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    flex-grow: 1;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.page-wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    align-self: center;
    grid-template-areas: 
    "nav"
    "content"
    "footer";
    max-width: 100%;
    width: 100%;
    position: relative;
    flex-grow: 1;
}
.content{
    grid-area: 'content';
}
.index-wrapper{
    margin: auto;
    background-color: $color4;
    width:75%;
    margin-top: 20vh;
    box-shadow: $drop-shadow-wrappers;
    border-radius: $radius;
    padding: $box-padding;
    position: relative;
    padding: $box-padding;
    @include for-size(Desktop){
        max-width: 1000px;
    }
    @include for-size(large-phone-only){
        width: 95%;
    }
    h1{
        color: $textcolor;
        font-size: var(--fs-subheader);
    }
    p, span{
        color: $textcolor;
    }
    button, span, p{
        font-size: var(--fs-body);
    }
    button{
        background-color: transparent;
        border: none;
        color: $color1
    }
    hr{
        width: 100%;
        background-color: $color2;
        height: 2px;
        border: none;
    }
}
.login-wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    background-color: $color4;
    width: 75%;
    height: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $drop-shadow-wrappers;
    border-radius: $radius;
    padding: $box-padding;
    @include for-size(Desktop){
        max-width: 1000px;
    }
    @include for-size(small-phone){
        top: 40%;
        transform: translate(-50%, -40%);
        height: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: 3/2/3/6;
        width: 100%;
        @include for-size(large-phone-only){
            grid-area: 3/1/3/8;
        }
    }
    h1{
        color: $textcolor;
        font-size: var(--fs-header);
        padding-bottom: 1.5rem;
    }
    button{
        box-shadow: $drop-shadow-wrappers;
        width: 95%;
        height: 2rem;
        margin: 2rem 0px;
        font-size: 1.5rem;
        background-color: $button-color;
        border-radius: $radius;
        border: none;
        color: $textcolor
    }
    hr{
        width: 100%;
        background-color: $color2;
        height: 2px;
        border: none;
    }
    @include for-size(phone-only){
        width: 100%;
    }
}
.setup-wrapper{
    background-color: $color4;
    display: flex;
    box-shadow: $drop-shadow-wrappers;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 15px;
    flex-direction: column;
    @include for-size(Desktop){
        max-width: 1400px;
    }
    h1{
        color: $textcolor;
        padding: 10px;
        font-size: var(--fs-header);
        @include for-size(phone-only){
        }
    }
    p{
        color: $textcolor;
        font-size: var(--fs-body);
        padding-bottom: $box-padding;
    }
    .nextButton{
        box-shadow: $drop-shadow-wrappers;
        width: 95%;
        height: 2rem;
        margin: 2rem 0px;
        font-size: 1.5rem;
        background-color: $button-color;
        border-radius: $radius;
        border: none;
        color: $textcolor
    }
}

.home{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    h1{
        color: $textcolor;
        font-size: var(--fs-welcome);
        padding-left: $box-padding;
    }
}
.info{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
.profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    flex-grow: 1;
    padding: $box-padding;
    overflow: hidden;
    h2{
        color: $textcolor;
        font-size: var(--fs-subheader);
    }
}
.periodInfo-wrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
