 $color1: #8FDDC3;
 $color2: #241E4E;
 $textcolor: #EAE8FF;
 $color4: #5C0F47;
 $color5: #8FDDC3;
 $color6: #5CFFC9;
 $button-color:#AF4D98;
 $login-input-background: #4B203F;
 $backgroundgrad: linear-gradient($color2, #302867, #7B145F,  $color4);
 $drop-shadow-wrappers: (rgba(0,0,0,.4) 0px 5px 10px);
 $radius: 5px;
 $box-padding: 1rem;

@mixin for-size($size){
    @if $size == tablet-only{
        @media (max-width: 768px){ @content;}
    }
    @if $size == small-tablet-only{
        @media (max-width: 720px){ @content;}
    }
    @if $size == large-phone-only{
        @media (max-width: 535px) {@content;}
    }
    @if $size == phone-only{
        @media (max-width: 425px){ @content;}
    }
    @if $size == small-phone{
        @media (max-width: 320px){ @content;}
    }
    @if $size == small-desktop{
        @media (max-width: 1300px){@content;}
    }
    @if $size == Desktop{
        @media (min-width: 1300px) {@content;}
    }
}
:root{
    --fs-welcome: clamp(1.8rem, 6vw + 1rem, 2.5rem);
    --fs-header:clamp(2rem, 5vw + .5rem, 4.5rem);
    --fs-subheader:clamp(1.6rem, 4vw + .3rem, 3rem);
    --fs-body: 1.5rem;
    --fs-cal: 1.5rem;
    @include for-size(large-phone-only){
        --fs-cal: .9rem;
        --fs-body: 1.2rem;
    }
 }
/* Font familys */
/* bebas-neue-regular - latin */
@font-face {
    font-family: 'Bebas Neue';
    src: url('./../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.eot');
    src: local("Bebas Neue"),
         url('../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.woff2') format('woff2'),
         url('../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.woff') format('woff'),
         url('../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.ttf') format('truetype')
  }

/* Comfortaa */
@font-face {
    font-family: 'Comfortaa';
    src: url('./../fonts/Comfortaa/Comfortaa-Light.ttf');
    src: local('Comfortaa'),
         url('../fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Varela_Round';
    src: url('../fonts/Varela_Round/VarelaRound-Regular.ttf');
    src: local('Varela_Round'),
         url('../fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype')
}

  $Copy-Font: 'Varela_Round', Sans-Serif;
  $Header-Font: 'Varela_Round', Sans-Serif;



p, span, button, a, label, select{
    font-family: $Copy-Font;
}

h1, h2, h3, h4{
    font-family: $Header-Font;
}

@import './reset';
@import './wrappers';
@import './nav';
@import './login';
@import './react-calendar';
@import './home';
@import './periodinfo';
@import './react-calendar-theme';
@import './animations';
@import './waves';
@import './loading';
@import './nav';