@charset "UTF-8";
/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html {
  height: 100%;
  min-height: 100vh;
}

body {
  min-height: 100%;
  min-width: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full, .rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis, .rbc-show-more, .rbc-row-segment .rbc-event-content, .rbc-event-label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #999999;
}

.rbc-off-range-bg {
  background: transparent;
}

.rbc-header {
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: var(--fs-cal);
  color: #EAE8FF;
  min-height: 0;
}
.rbc-rtl .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
.rbc-header > a, .rbc-header > a:active, .rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-button-link {
  color: inherit;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

.rbc-row-content {
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  z-index: 1;
}

.rbc-row-content-scrollable {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rbc-row-content-scrollable .rbc-row-content-scroll-container {
  height: 100%;
  overflow-y: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.rbc-row-content-scrollable .rbc-row-content-scroll-container::-webkit-scrollbar {
  display: none;
}

.rbc-today {
  background-color: pink;
  border-radius: 5px;
}

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: var(--fs-horizontal-cal);
  color: #EAE8FF;
}
.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 0 10px;
  font-size: var(--fs-cal);
  text-align: center;
}
.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}
.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
  color: #373a3c;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.rbc-toolbar button:focus {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rbc-toolbar button:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
  display: none;
}
.rbc-btn-group > button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-btn-group > button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.rbc-btn-group button + button {
  margin-left: -1px;
}
.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}
.rbc-btn-group + .rbc-btn-group, .rbc-btn-group + button {
  margin-left: 10px;
}

.rbc-event, .rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #8FDDC3;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.rbc-slot-selecting .rbc-event, .rbc-slot-selecting .rbc-day-slot .rbc-background-event, .rbc-day-slot .rbc-slot-selecting .rbc-background-event {
  cursor: inherit;
  pointer-events: none;
}
.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #68d1ae;
}
.rbc-event:focus, .rbc-day-slot .rbc-background-event:focus {
  outline: 5px auto #3b99fc;
}

.rbc-event-label {
  font-size: 1rem;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rbc-event-continues-after {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}
.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  font-weight: bold;
  font-size: 1rem;
  height: auto;
  line-height: normal;
  color: #8FDDC3;
}
.rbc-show-more:hover, .rbc-show-more:focus {
  color: #68d1ae;
}

.rbc-month-view {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  height: 100%;
  border-radius: 5px;
}

.rbc-month-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 3em;
  flex: 1 0 0;
  flex-basis: 0px;
  overflow: hidden;
}

.rbc-date-cell {
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: center;
  font-size: var(--fs-cal);
  color: #EAE8FF;
}
.rbc-date-cell.rbc-now {
  font-weight: bold;
}
.rbc-date-cell > a, .rbc-date-cell > a:active, .rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
  height: 3em;
}

.rbc-day-bg {
  flex: 1 0 0%;
}
.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
}

.rbc-overlay {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-overlay-header {
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto;
}
.rbc-agenda-view table.rbc-agenda-table {
  width: 100%;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}
.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 1px solid #ddd;
}
.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 1px solid #ddd;
}
.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}
.rbc-agenda-time-cell .rbc-continues-after:after {
  content: " »";
}
.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: "« ";
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.rbc-time-column .rbc-timeslot-group {
  flex: 1;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #ddd;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-day-slot {
  position: relative;
}
.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
}
.rbc-day-slot .rbc-events-container.rbc-rtl {
  left: 10px;
  right: 0;
}
.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
  border: 1px solid #265985;
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}
.rbc-day-slot .rbc-background-event {
  opacity: 0.75;
}
.rbc-day-slot .rbc-event-label {
  flex: none;
  padding-right: 5px;
  width: auto;
}
.rbc-day-slot .rbc-event-content {
  width: 100%;
  flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}
.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: white;
  border-right: 1px solid #ddd;
  z-index: 1;
  margin-right: -1px;
}
.rbc-time-view-resources .rbc-time-header {
  overflow: hidden;
}
.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  flex: 1 0 0;
  flex-basis: 0px;
}
.rbc-time-view-resources .rbc-time-header-cell-single-day {
  display: none;
}
.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px;
}
.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  flex: 1 1 0;
  flex-basis: 0 px;
}

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  flex: 1 0 0;
}
.rbc-time-slot.rbc-now {
  font-weight: bold;
}

.rbc-day-header {
  text-align: center;
}

.rbc-slot-selection {
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid #ddd;
  min-height: 0;
}
.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
  text-align: right;
}
.rbc-time-view .rbc-allday-cell {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}
.rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
  border-left: 1px solid #ddd;
}
.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 1;
}
.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 20px;
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}
.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #ddd;
}
.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #ddd;
}
.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #ddd;
}
.rbc-time-header > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #ddd;
}

.rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-header-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  border-left: 1px solid #ddd;
}
.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #ddd;
  flex-shrink: 0;
}

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid #ddd;
  overflow-y: auto;
  position: relative;
}
.rbc-time-content > .rbc-time-gutter {
  flex: none;
}
.rbc-time-content > * + * > * {
  border-left: 1px solid #ddd;
}
.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
.rbc-time-content > .rbc-day-slot {
  width: 100%;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none;
}

:root {
  --fs-welcome: clamp(2.5rem, calc(6vw + 1rem), 4.5rem);
  --fs-header:clamp(2rem, calc(5vw + .5rem), 4.5rem);
  --fs-subheader:clamp(1.6rem, calc(4vw + .3rem), 3rem);
  --fs-horizontal-cal:clamp(1rem, calc(3vw + .5rem), 3rem);
  --fs-body: 1.5rem;
  --fs-cal: 1.5rem;
  --fs-signup: 1.15rem;
}
@media (max-width: 535px) {
  :root {
    --fs-cal: .9rem;
    --fs-body: 1.2rem;
    --fs-signup: 1rem;
  }
}

/* Font familys */
/* bebas-neue-regular - latin */
@font-face {
  font-family: "Bebas Neue";
  src: url("./../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.eot");
  src: local("Bebas Neue"), url("../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.woff2") format("woff2"), url("../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.woff") format("woff"), url("../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.ttf") format("truetype");
}
/* Comfortaa */
@font-face {
  font-family: "Comfortaa";
  src: url("./../fonts/Comfortaa/Comfortaa-Light.ttf");
  src: local("Comfortaa"), url("../fonts/Comfortaa/Comfortaa-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Varela_Round";
  src: url("../fonts/Varela_Round/VarelaRound-Regular.ttf");
  src: local("Varela_Round"), url("../fonts/Varela_Round/VarelaRound-Regular.ttf") format("truetype");
}
p, span, button, a, label, select, ul, li {
  font-family: "Varela_Round", Sans-Serif;
}

h1, h2, h3, h4 {
  font-family: "Varela_Round", Sans-Serif;
}

.button {
  margin-top: 16px;
  width: 125px;
  align-self: center;
  background-color: #AF4D98;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  height: 35px;
  font-size: var(--fs-body);
  color: #EAE8FF;
}

.message {
  text-align: center;
  color: #EAE8FF;
  font-size: var(--fs-subheader);
}

.welcome-text {
  color: #EAE8FF;
  font-size: var(--fs-welcome);
  padding-bottom: 1.5rem;
}

.page-fade {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  animation: pagefade 0.2s ease-in;
}

.warning-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  top: 50%;
  left: 50%;
  background-color: #5C0F47;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  max-height: 500px;
  max-width: 500px;
  border-radius: 5px;
  color: #EAE8FF;
  align-items: center;
  z-index: 2;
}
@media (max-width: 768px) {
  .warning-box {
    width: 95%;
    height: 50%;
  }
}
.warning-box h1 {
  font-size: var(--fs-body);
}
.warning-box form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: auto;
}
.warning-box .button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  width: 25%;
  margin: 1rem;
  border-radius: 5px;
  height: auto;
  background-color: #AF4D98;
  color: #EAE8FF;
  font-family: "Varela_Round", Sans-Serif;
  font-size: 1.1rem;
  padding: 5px 8px;
}
.warning-box .text-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #8FDDC3;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#241E4E, #302867, #7B145F, #5C0F47);
  animation: gradient 25s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  flex-grow: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  align-self: center;
  grid-template-areas: "nav" "content" "footer";
  max-width: 100%;
  width: 100%;
  position: relative;
  flex-grow: 1;
}

.content {
  grid-area: "content";
}

.index-wrapper {
  margin: auto;
  background-color: #5C0F47;
  width: 75%;
  margin-top: 20vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  padding: 1rem;
}
@media (min-width: 1300px) {
  .index-wrapper {
    max-width: 1000px;
  }
}
.index-wrapper h1 {
  color: #EAE8FF;
  font-size: var(--fs-header);
}
.index-wrapper p, .index-wrapper span {
  color: #EAE8FF;
}
.index-wrapper button, .index-wrapper span, .index-wrapper p {
  font-size: var(--fs-body);
}
.index-wrapper button {
  background-color: transparent;
  border: none;
  color: #8FDDC3;
}
.index-wrapper hr {
  width: 100%;
  background-color: #241E4E;
  height: 2px;
  border: none;
}

.login-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #5C0F47;
  width: 75%;
  height: 60%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  border-radius: 5px;
  padding: 1rem;
}
.login-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 3/2/3/6;
}
@media (max-width: 535px) {
  .login-wrapper form {
    grid-area: 3/1/3/8;
  }
}
@media (min-width: 1300px) {
  .login-wrapper {
    max-width: 1000px;
  }
}
.login-wrapper h1 {
  color: #EAE8FF;
  font-size: var(--fs-header);
  padding-bottom: 1.5rem;
}
.login-wrapper button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  width: 95%;
  height: 2rem;
  margin: 2rem 0px;
  font-size: 1.5rem;
  background-color: #AF4D98;
  border-radius: 5px;
  border: none;
  color: #EAE8FF;
}
.login-wrapper hr {
  width: 100%;
  background-color: #241E4E;
  height: 2px;
  border: none;
}

.setup-wrapper {
  background-color: #5C0F47;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto;
  width: 100%;
  height: auto;
  padding: 15px;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .setup-wrapper {
    max-width: 1400px;
  }
}
.setup-wrapper h1 {
  color: #EAE8FF;
  padding: 10px;
  font-size: var(--fs-header);
}
@media (max-width: 425px) {
  .setup-wrapper h1 {
    color: red;
  }
}
.setup-wrapper p {
  color: #EAE8FF;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 425px) {
  .setup-wrapper p {
    color: red;
    font-size: 1.4rem;
  }
}
.setup-wrapper .nextButton {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  width: 95%;
  height: 2rem;
  margin: 2rem 0px;
  font-size: 1.5rem;
  background-color: #AF4D98;
  border-radius: 5px;
  border: none;
  color: #EAE8FF;
}

.home {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.home h1 {
  color: #EAE8FF;
  font-size: var(--fs-welcome);
  padding-left: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  flex-grow: 1;
  padding: 1rem;
  overflow: hidden;
}
.profile h2 {
  color: #EAE8FF;
  font-size: var(--fs-subheader);
}

.periodInfo-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.login-button-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login-button-container .signup {
  font-size: var(--fs-signup);
}
.login-button-container .signup button {
  font-size: inherit;
}

.username-input, .password-input, .email-input {
  width: 95%;
  position: relative;
  height: 2.5rem;
  overflow: hidden;
  margin-bottom: 2.2rem;
}
.username-input input, .password-input input, .email-input input {
  background-color: #4B203F;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: #EAE8FF;
  border-radius: 5px;
  padding: 5px;
}
.username-input label, .password-input label, .email-input label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid #EAE8FF;
  color: #EAE8FF;
  transform: all 0.3s ease;
}
.username-input label:after, .password-input label:after, .email-input label:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5CFFC9;
  left: 0px;
  bottom: -1;
  transform: translateX(-100%);
  transform: all 0.3s ease;
}
.username-input label span, .password-input label span, .email-input label span {
  position: absolute;
  bottom: 0px;
  left: 4px;
}
.username-input .error, .password-input .error, .email-input .error {
  position: absolute;
  top: 0px;
  left: 100px;
  color: palegreen;
}

.remember-me {
  width: 100%;
  text-align: center;
}
.remember-me label {
  padding-left: 2%;
  color: #EAE8FF;
  font-size: 1.2rem;
}

.sign-up {
  margin-top: 1rem;
}
.sign-up span {
  color: #EAE8FF;
  padding-right: 5px;
}
.sign-up a {
  color: #8FDDC3;
  text-decoration: none;
}

.recover {
  text-decoration: none;
  color: #8FDDC3;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.bottom-wave {
  position: relative;
  width: 100%;
  overflow: hidden;
  bottom: 0;
}

.reg-error {
  color: #EAE8FF;
  font-size: 1.4rem;
}

.exit-button {
  color: #EAE8FF;
  font-size: 2.5rem;
  grid-area: 1/7/1/7;
}
.exit-button:hover {
  color: #8FDDC3;
}

.login-lable {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid #EAE8FF;
  color: #EAE8FF;
  transform: all 0.3s ease;
}
.login-lable:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5CFFC9;
  left: 0px;
  bottom: -1;
  transform: translateX(-100%);
  transform: all 0.3s ease;
}

.login-span {
  position: absolute;
  bottom: 0px;
  left: 4px;
}

.rdrCalendarWrapper {
  box-sizing: border-box;
  background: transparent;
  display: inline-flex;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.rdrDateDisplay {
  display: flex;
  justify-content: space-between;
}

.rdrDateDisplayItem {
  flex: 1 1;
  width: 0;
  text-align: center;
  color: inherit;
}

.rdrDateDisplayItem + .rdrDateDisplayItem {
  margin-left: 0.833em;
}

.rdrDateDisplayItem input {
  text-align: inherit;
}

.rdrDateDisplayItem input:disabled {
  cursor: default;
}

.rdrMonthAndYearWrapper {
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
}

.rdrMonthAndYearPickers {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rdrNextPrevButton {
  box-sizing: inherit;
  cursor: pointer;
  outline: none;
}

.rdrMonths {
  display: flex;
}

.rdrMonthsVertical {
  flex-direction: column;
}

.rdrMonthsHorizontal > div > div > div {
  display: flex;
  flex-direction: row;
}

.rdrWeekDays {
  display: flex;
}

.rdrWeekDay {
  flex-basis: 14.2857142857%;
  box-sizing: inherit;
  text-align: center;
}

.rdrDays {
  display: flex;
  flex-wrap: wrap;
  color: #EAE8FF !important;
}

.rdrInfiniteMonths {
  overflow: auto;
}

.rdrDateRangeWrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.rdrDateInput {
  position: relative;
}

.rdrDateInput input {
  outline: none;
}

.rdrDateInput .rdrWarning {
  position: absolute;
  font-size: var(--fs-body);
  line-height: 1.6em;
  top: 0;
  right: 0.25em;
}

.rdrDay {
  box-sizing: inherit;
  width: 14.2857142857%;
  position: relative;
  font: inherit;
  cursor: pointer;
}

.rdrDayNumber {
  display: block;
  position: relative;
}

.rdrDayNumber span {
  color: #EAE8FF;
}

.rdrDayDisabled {
  cursor: not-allowed;
}

@supports (-ms-ime-align: auto) {
  .rdrDay {
    flex-basis: 14.285% !important;
  }
}
.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge {
  pointer-events: none;
}

.rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview {
  pointer-events: none;
}

.rdrDateRangePickerWrapper {
  display: inline-flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.rdrStaticRanges {
  display: flex;
  flex-direction: column;
}

.rdrStaticRange {
  font-size: var(--fs-body);
}

.rdrInputRange {
  display: flex;
}

.period-countdown {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 1rem;
}
.period-countdown h2 {
  color: #EAE8FF;
  font-size: var(--fs-header);
  padding-bottom: 1rem;
}

.countdown-timer {
  display: flex;
  justify-content: center;
}
.countdown-timer div:first-child {
  max-width: 500px !important;
  max-height: 500px !important;
  height: 100% !important;
  width: 100% !important;
}
.countdown-timer svg {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}
.countdown-timer svg path:first-child {
  stroke: #EAE8FF !important;
}
.countdown-timer span {
  display: flex;
  justify-self: center;
}

.countdown-wrapper {
  font-size: 3rem;
}

.days-left span {
  font-size: var(--fs-header);
  color: #EAE8FF !important;
}

.placeholder {
  width: 100%;
  height: 50px;
  background-color: pink;
}

.check-period {
  display: flex;
  flex-direction: column;
}
.check-period label {
  color: #EAE8FF;
  text-align: center;
  font-family: "Varela_Round", Sans-Serif;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.check-period button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  width: 25%;
  margin: auto;
  border-radius: 5px;
  height: auto;
  background-color: #AF4D98;
  color: #EAE8FF;
  font-family: "Varela_Round", Sans-Serif;
  font-size: 1.1rem;
  padding: 5px 8px;
}

.inner-circle {
  position: relative;
}
.inner-circle span {
  color: #EAE8FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--fs-header);
}

.logging-period {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 1400px;
  width: 100%;
  height: auto;
  padding: 1rem;
}
.logging-period h1 {
  font-size: var(--fs-header);
  color: #EAE8FF;
}

.remove-period {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  max-width: 1400px;
  justify-self: center;
}
.remove-period h2 {
  font-size: var(--fs-subheader);
  color: #EAE8FF;
  margin-bottom: 1rem;
}
.remove-period label {
  font-size: var(--fs-body);
  color: #EAE8FF;
  justify-self: end;
  margin-right: 16px;
}
@media (max-width: 535px) {
  .remove-period label {
    margin-right: 12px;
  }
}
.remove-period fieldset {
  border: none;
  display: grid;
  grid-template-columns: auto auto;
}
@media (max-width: 768px) {
  .remove-period fieldset {
    display: flex;
    flex-direction: column;
  }
}
.remove-period select {
  justify-self: start;
  color: #5CFFC9;
  background-color: transparent;
  font-size: var(--fs-body);
  border-radius: 5px;
}
@media (max-width: 768px) {
  .remove-period select {
    width: 100%;
  }
}

.account-settings {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  color: #EAE8FF;
  font-size: var(--fs-body);
  background-color: #241E4E;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}
@media (max-width: 535px) {
  .account-settings {
    width: 100%;
  }
}
.account-settings button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  width: 50%;
  height: 2.2rem;
  margin: 2rem auto;
  font-size: var(--fs-body);
  background-color: #AF4D98;
  border-radius: 5px;
  border: none;
  color: #EAE8FF;
}

.inner-account-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.setting-option {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.setting-option button {
  width: 50%;
}

.password-change {
  padding: 1rem;
  border-radius: 5px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.password-change .password-input {
  margin: 1rem auto;
}
.password-change button {
  width: 125px;
}

.delete-account .email-input {
  margin-bottom: 1rem !important;
  width: 40%;
}
.delete-account button {
  margin-bottom: 1rem;
  width: 25%;
  min-width: 125px;
}

.calander {
  height: 100%;
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-direction: column;
  align-self: center;
}

.profile-cal {
  max-height: 1000px;
  min-height: 400px;
  height: 100%;
  position: relative;
  padding: 1rem;
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-self: center;
  z-index: 0;
}

.notification {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.notification h1 {
  font-size: var(--fs-body);
}

.button-container {
  margin-top: 2rem;
  display: flex;
  width: 100%;
}
.button-container:nth-of-type(1) {
  flex-direction: column;
}
@media (max-width: 535px) {
  .button-container .button {
    width: 95%;
  }
}
.button-container form {
  margin-bottom: 1rem;
}

.toggle-on {
  width: 95%;
  position: relative;
  height: 2.5rem;
  display: flex;
  margin: auto;
  justify-content: center;
}

.text-button {
  background-color: transparent;
  border: none;
}

.rdrCalendarWrapper {
  font-size: var(--fs-cal);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  background: transparent;
}

.rdrDateDisplayWrapper {
  display: none;
}

.rdrDateDisplayItem {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(35, 57, 66, 0.21);
  border: 1px solid transparent;
}

.rdrDateDisplayItem input {
  cursor: pointer;
  height: 2.5em;
  line-height: 2.5em;
  border: 0px;
  background: transparent;
  width: 100%;
  color: #849095;
}

.rdrDateDisplayItemActive {
  border-color: currentColor;
}

.rdrDateDisplayItemActive input {
  color: #7d888d;
}

.rdrMonthAndYearWrapper {
  align-items: center;
  height: 60px;
  padding-top: 10px;
  width: 100%;
}

.rdrMonthAndYearPickers {
  font-size: var(--fs-cal);
  color: #EAE8FF;
}

.rdrMonthAndYearPickers select {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
  outline: 0;
  color: #EAE8FF;
  font-size: var(--fs-cal);
  background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)' fill-opacity='0.368716033'><g id='input' transform='translate(172.000000, 37.000000)' fill='%230E242F' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>") no-repeat;
  background-position: right 8px center;
  cursor: pointer;
  text-align: center;
}

.rdrMonthAndYearPickers select:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.rdrMonthPicker, .rdrYearPicker {
  margin: 0 5px;
  position: relative;
}

.rdrNextPrevButton {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 0.833em;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: #AF4D98;
}

.rdrNextPrevButton:hover {
  background: #E1E7F0;
}

.rdrNextPrevButton i {
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  text-align: center;
  border-style: solid;
  margin: auto;
  transform: translate(-3px, 0px);
}

.rdrPprevButton i {
  border-width: 4px 6px 4px 4px;
  border-color: transparent #8FDDC3 transparent transparent;
  transform: translate(-3px, 0px);
}

.rdrNextButton i {
  margin: 0 0 0 7px;
  border-width: 4px 4px 4px 6px;
  border-color: transparent transparent transparent #8FDDC3;
  transform: translate(3px, 0px);
}

.rdrMonth {
  padding: 0 0.833em 1.666em 0.833em;
  width: 100%;
}

.rdrMonth .rdrWeekDays {
  padding: 0;
}

.rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName {
  display: none;
}

.rdrWeekDay {
  font-weight: 400;
  line-height: 2.667em;
  padding: 0 0.43em;
  font-size: var(--fs-cal);
  color: #EAE8FF;
}
@media (max-width: 320px) {
  .rdrWeekDay {
    padding: 0 0.4em;
  }
}

.rdrDay {
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 0;
  padding: 0;
  line-height: 3em;
  height: 3em;
  text-align: center;
  font-size: var(--fs-cal);
}

.rdrDay:focus {
  outline: 0;
}

.rdrDayNumber {
  outline: 0;
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  top: 5px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rdrDayToday .rdrDayNumber span {
  font-weight: 500;
}

.rdrDayToday .rdrDayNumber span:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 18px;
  height: 2px;
  border-radius: 5px;
  background: #3d91ff;
}

.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after, .rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after, .rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after, .rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after {
  background: #fff;
}

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span, .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span, .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span, .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
  color: rgba(255, 255, 255, 0.85);
}

.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge {
  background: currentColor;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 5px;
}

.rdrSelected {
  left: 2px;
  right: 2px;
}

.rdrInRange {
  color: pink !important;
  border-radius: 5px;
}

.rdrStartEdge {
  border-radius: 5px;
  left: 2px;
  color: pink !important;
}

.rdrEndEdge {
  border-radius: 5px;
  right: 2px;
  color: pink !important;
}

.rdrSelected {
  border-radius: 5px;
}

.rdrDayStartOfMonth .rdrInRange, .rdrDayStartOfMonth .rdrEndEdge, .rdrDayStartOfWeek .rdrInRange, .rdrDayStartOfWeek .rdrEndEdge {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  left: 2px;
}

.rdrDayEndOfMonth .rdrInRange, .rdrDayEndOfMonth .rdrStartEdge, .rdrDayEndOfWeek .rdrInRange, .rdrDayEndOfWeek .rdrStartEdge {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 5px;
  right: 2px;
}

.rdrDayStartOfMonth .rdrDayInPreview, .rdrDayStartOfMonth .rdrDayEndPreview, .rdrDayStartOfWeek .rdrDayInPreview, .rdrDayStartOfWeek .rdrDayEndPreview {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left-width: 1px;
  left: 0px;
}

.rdrDayEndOfMonth .rdrDayInPreview, .rdrDayEndOfMonth .rdrDayStartPreview, .rdrDayEndOfWeek .rdrDayInPreview, .rdrDayEndOfWeek .rdrDayStartPreview {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
  right: 0px;
}

.rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview {
  background: rgba(255, 255, 255, 0.09);
  position: absolute;
  top: 3px;
  left: 0px;
  right: 0px;
  bottom: 3px;
  pointer-events: none;
  border: 0px solid currentColor;
  z-index: 1;
}

.rdrDayStartPreview {
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-left-radius: 1.333em;
  border-bottom-left-radius: 1.333em;
  left: 0px;
}

.rdrDayInPreview {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.rdrDayEndPreview {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-right-radius: 1.333em;
  border-bottom-right-radius: 1.333em;
  right: 2px;
  right: 0px;
}

.rdrDefinedRangesWrapper {
  font-size: var(--fs-cal);
  width: 226px;
  border-right: solid 1px #eff2f7;
  background: #fff;
}

.rdrDefinedRangesWrapper .rdrStaticRangeSelected {
  color: currentColor;
  font-weight: 600;
}

.rdrStaticRange {
  border: 0;
  cursor: pointer;
  display: block;
  outline: 0;
  border-bottom: 1px solid #eff2f7;
  padding: 0;
  background: #fff;
}

.rdrStaticRange:hover .rdrStaticRangeLabel, .rdrStaticRange:focus .rdrStaticRangeLabel {
  background: #eff2f7;
}

.rdrStaticRangeLabel {
  display: block;
  outline: 0;
  line-height: 18px;
  padding: 10px 20px;
  text-align: left;
}

.rdrInputRanges {
  padding: 10px 0;
}

.rdrInputRange {
  align-items: center;
  padding: 5px 20px;
}

.rdrInputRangeInput {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  text-align: center;
  border: solid 1px rgb(222, 231, 235);
  margin-right: 10px;
  color: rgb(84, 135, 155);
}

.rdrInputRangeInput:focus, .rdrInputRangeInput:hover {
  border-color: rgb(180, 191, 196);
  outline: 0;
  color: #333;
}

.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after {
  content: "";
  border: 1px solid currentColor;
  border-radius: 1.333em;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 0px;
  right: 0px;
  background: transparent;
}

.rdrDayPassive {
  pointer-events: none;
}

.rdrDayPassive .rdrDayNumber span {
  color: #d5dce0;
}

.rdrDayPassive .rdrInRange, .rdrDayPassive .rdrStartEdge, .rdrDayPassive .rdrEndEdge, .rdrDayPassive .rdrSelected, .rdrDayPassive .rdrDayStartPreview, .rdrDayPassive .rdrDayInPreview, .rdrDayPassive .rdrDayEndPreview {
  display: none;
}

.rdrDayDisabled {
  background-color: rgb(248, 248, 248);
}

.rdrDayDisabled .rdrDayNumber span {
  color: #aeb9bf;
}

.rdrDayDisabled .rdrInRange, .rdrDayDisabled .rdrStartEdge, .rdrDayDisabled .rdrEndEdge, .rdrDayDisabled .rdrSelected, .rdrDayDisabled .rdrDayStartPreview, .rdrDayDisabled .rdrDayInPreview, .rdrDayDisabled .rdrDayEndPreview {
  filter: grayscale(100%) opacity(60%);
}

.rdrMonthName {
  text-align: left;
  color: #849095;
  padding: 0.833em;
}

.username-input input:focus + .login-lable .login-span, .username-input input:valid + .login-lable .login-span {
  translate: 0% -100%;
  font-size: 0.65rem;
  opacity: 0.2;
}

.username-input input:focus + .login-lable:after, .username-input input:valid + .login-lable:after {
  translate: 100%;
}

.password-input input:focus + .login-lable .login-span, .password-input input:valid + .login-lable .login-span {
  translate: 0% -100%;
  font-size: 0.65rem;
  opacity: 0.2;
}

.password-input input:focus + .login-lable:after, .password-input input:valid + .login-lable:after {
  translate: 100%;
}

.email-input input:focus + .login-lable .login-span, .email-input input:valid + .login-lable .login-span {
  translate: 0% -100%;
  font-size: 0.65rem;
  opacity: 0.2;
}

.email-input input:focus + .login-lable:after, .email-input input:valid + .login-lable:after {
  translate: 100%;
}

@keyframes pagefade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.waves {
  height: 40px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.loading {
  background-color: transparent;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 150px;
  height: 150px;
  border: 8px solid;
  border-color: transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  40% {
    border-color: transparent #5CFFC9 transparent transparent;
  }
  100% {
    transform: rotate(360deg);
  }
}
nav {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-between;
  background-color: #4B203F;
  height: 75px;
  width: 100%;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 1;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  nav {
    opacity: 1;
  }
}

.logout {
  text-align: center;
}
.logout button {
  border: none;
  background-color: transparent;
  text-align: center;
}
.logout svg {
  font-size: 2rem;
  color: #EAE8FF;
}

.stats {
  display: none;
}
@media (max-width: 768px) {
  .stats {
    background-color: #241E4E;
    padding: 1rem;
    display: block;
    color: #EAE8FF;
    border-radius: 5px;
    max-width: 100%;
  }
  .stats h3 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) and (max-width: 320px) {
  .stats h3 {
    font-size: 1.53em;
  }
}
@media (max-width: 768px) {
  .stats span {
    font-size: 1.3rem;
  }
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 5px;
  width: auto;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    translate: -100%;
    position: fixed;
    top: 26px;
    left: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    opacity: 1;
    transition: cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
    background-color: #5C0F47;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.nav-item {
  text-decoration: none;
  font-size: 1.4rem;
}
.nav-item a {
  text-decoration: none;
  color: #EAE8FF;
}

.mobile-nav-container {
  display: none;
  height: 100%;
  width: 30px;
  padding-right: 20px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .mobile-nav-container {
    display: flex;
  }
}

#mobile-nav-toggle {
  display: none;
}

#mobile-nav-toggle:checked ~ .nav-links {
  translate: 0% !important;
  transition: cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
}

.mobile-nav,
.mobile-nav::before,
.mobile-nav::after {
  display: block;
  background-color: #8FDDC3;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
@media (max-width: 768px) {
  .mobile-nav,
  .mobile-nav::before,
  .mobile-nav::after {
    display: flex;
  }
}

.mobile-nav::before {
  content: "";
  margin-top: -8px;
}

.mobile-nav::after {
  content: "";
  margin-top: 8px;
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav {
  background: transparent;
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#mobile-nav-toggle:checked + .mobile-nav-container .mobile-nav::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.logo img {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}

footer {
  background-color: #4B203F;
  color: #EAE8FF;
  text-align: center;
  font-size: var(--fs-cal);
  position: relative;
  width: 100%;
  margin-top: 1rem;
  grid-area: "footer";
}
footer a {
  text-decoration: none;
  color: #EAE8FF;
}

.horizontal-date-picker {
  height: 100px;
  max-width: 100%;
  width: 100vw;
}

.dM {
  height: 100%;
  padding: 0px !important;
}

.Kq, .Ez {
  margin-top: 36px !important;
  padding: 0px 5px !important;
}
.Kq svg, .Ez svg {
  fill: #5CFFC9 !important;
  height: 30px !important;
  width: 30px !important;
}
.Kq::after, .Ez::after {
  display: none !important;
}

.dr {
  height: 100% !important;
}

.Tx {
  font-family: "Varela_Round", Sans-Serif;
  margin: 0px !important;
  min-height: 100%;
  z-index: 0 !important;
}

._3n {
  margin: 0px 3vw !important;
  min-height: 100% !important;
  line-height: 25px !important;
}

.Lx, ._1g {
  font-size: 2rem !important;
  color: #EAE8FF !important;
}

.FC ._1g {
  background-color: transparent !important;
}

.or {
  background-color: transparent !important;
}
.or .Lx, .or ._1g {
  color: #ED2939 !important;
}

.react-tel-input {
  display: flex !important;
  width: auto !important;
  font-size: var(--fs-body) !important;
  font-family: "Varela_Round", Sans-Serif !important;
  max-width: 100%;
}

.react-tel-input .form-control {
  border: none !important;
  border-bottom: #8FDDC3 1px solid !important;
  color: #EAE8FF;
  background-color: #4B203F !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  height: 40px !important;
}

.react-tel-input .flag-dropdown {
  display: flex !important;
  border: none !important;
  background-color: #4B203F !important;
  border-bottom: #8FDDC3 1px solid !important;
}

.react-tel-input .selected-flag .arrow {
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-top: 6px solid #8FDDC3 !important;
}

.react-tel-input .form-control {
  font-size: var(--fs-body) !important;
  font-family: "Varela_Round", Sans-Serif !important;
}/*# sourceMappingURL=styles.css.map */