 $color1: #8FDDC3;
 $color2: #241E4E;
 $textcolor: #EAE8FF;
 $color4: #5C0F47;
 $color5: #8FDDC3;
 $color6: #5CFFC9;
 $button-color:#AF4D98;
 $login-input-background: #4B203F;
 $backgroundgrad: linear-gradient($color2, #302867, #7B145F,  $color4);
 $drop-shadow-wrappers: (rgba(0,0,0,.4) 0px 5px 10px);
 $radius: 5px;
 $box-padding: 1rem;

@mixin for-size($size){
    @if $size == tablet-only{
        @media (max-width: 768px){ @content;}
    }
    @if $size == small-tablet-only{
        @media (max-width: 720px){ @content;}
    }
    @if $size == large-phone-only{
        @media (max-width: 535px) {@content;}
    }
    @if $size == phone-only{
        @media (max-width: 425px){ @content;}
    }
    @if $size == small-phone{
        @media (max-width: 320px){ @content;}
    }
    @if $size == small-desktop{
        @media (max-width: 1300px){@content;}
    }
    @if $size == Desktop{
        @media (min-width: 1300px) {@content;}
    }
}

@import './reset';
@import './big-cal/big-cal-styles';

:root{
    --fs-welcome: clamp(2.5rem, calc(6vw + 1rem), 4.5rem);
    --fs-header:clamp(2rem, calc(5vw + .5rem), 4.5rem);
    --fs-subheader:clamp(1.6rem, calc(4vw + .3rem), 3rem);
    --fs-horizontal-cal:clamp(1rem, calc(3vw + .5rem), 3rem);
    --fs-body: 1.5rem;
    --fs-cal: 1.5rem;
    --fs-signup: 1.15rem;
    @include for-size(large-phone-only){
        --fs-cal: .9rem;
        --fs-body: 1.2rem;
        --fs-signup: 1rem;
    }
 }
/* Font familys */
/* bebas-neue-regular - latin */
@font-face {
    font-family: 'Bebas Neue';
    src: url('./../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.eot');
    src: local("Bebas Neue"),
         url('../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.woff2') format('woff2'),
         url('../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.woff') format('woff'),
         url('../fonts/bebas-neue-v9-latin/bebas-neue-v9-latin-regular.ttf') format('truetype')
  }

/* Comfortaa */
@font-face {
    font-family: 'Comfortaa';
    src: url('./../fonts/Comfortaa/Comfortaa-Light.ttf');
    src: local('Comfortaa'),
         url('../fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Varela_Round';
    src: url('../fonts/Varela_Round/VarelaRound-Regular.ttf');
    src: local('Varela_Round'),
         url('../fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype')
}

  $Copy-Font: 'Varela_Round', Sans-Serif;
  $Header-Font: 'Varela_Round', Sans-Serif;



p, span, button, a, label, select, ul, li{
    font-family: $Copy-Font;
}

h1, h2, h3, h4{
    font-family: $Header-Font;
}

.button{
    margin-top: 16px;
    width: 125px;
    align-self: center;
    background-color: $button-color;
    border: none;
    border-radius: $radius;
    box-shadow: $drop-shadow-wrappers;
    height: 35px;
    font-size: var(--fs-body);
    color: $textcolor;
}
.message{
    text-align: center;
    color: $textcolor;
    font-size: var(--fs-subheader);
}
.welcome-text{
    color: $textcolor;
    font-size: var(--fs-welcome);
    padding-bottom: 1.5rem;
}
.page-fade{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.warning-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: $box-padding;
    top: 50%;
    left: 50%;
    background-color: $color4;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    border-radius: $radius;
    color: $textcolor;
    align-items: center;
    z-index: 2;
    @include for-size(large-phone-only){
        width: 95%;
    }
    h1{
        font-size: var(--fs-body);

    }
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: auto;
    }
    button{
        box-shadow: $drop-shadow-wrappers;
        width: 25%;
        margin: auto;
        border-radius: $radius;
        height: auto;
        background-color: $button-color;
        color: $textcolor;
        font-family: $Header-Font;
        font-size: 1.1rem;
        padding: 5px 8px;
    }
}


@import './wrappers';
@import './index';
@import './login';
@import './react-calendar';
@import './home';
@import './periodinfo';
@import './profile';
@import './react-calendar-theme';
@import './animations';
@import './waves';
@import './loading';
@import './nav';
@import './footer';
@import './horizontal-date-picker';